<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
    button{
        width:40px;
        height:30px;
        text-align:center;
        border:none;
        cursor: pointer;
    }
    .active{
        background:red;
        color:#fff;
        border:none;
    }
    </style>
</head>
<body>
    <div id="app">
        <button 
         v-for="(val,key) in box"
        @click="changes(key)"
        :class="{active:key == num}"
         >
         {{key+1}}
        </button>
        <div
            v-for="(val,key) in box"
            v-show="key==num"
        >
        {{val}}
    </div>
    
    </div>
    <script>
    /*
    运用知识点：
        v-for
        v-on,简写@
        v-bind简写:
        v-show
    思路：
        循环数据，当点击时候，把key传到changes方法中，然后num赋值给active
        循环数组，只要box中key等于num就让它显示出来
    */
   new Vue({
       el:'#app',
       data:{
          box:['第一页','第二页','第三页'],
          num:0
       },
       methods:{
           changes(key){
               this.num = key;
           }
       }
   });
    </script>
</body>
</html>